.transaction-detail {
  margin: 0;
  background-color: #fff;
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  .block-detail {
    margin-top: 15px;
    .card-detail {
      min-height: 300px;
    }
    &:last-child {
      margin-bottom: 15px;
    }
  }
}