.sub-menu {
  padding: 8px 0px;
  background: #fff;
  /* border: 1px solid; */
  border-top: 1px solid rgb(217, 217, 217);
  border-right: 1px solid rgb(217, 217, 217);
  border-bottom: none;
  border-left: 1px solid rgb(217, 217, 217);
  border-image: initial;
  height: 500px;
  overflow: hidden;
}