.ecash-outside {
  width: 100%;
  min-height: 100%;
  display: block;
  padding: 0px;
  margin: 0px;
  position: absolute;
  height: 100%;
}

.ecash-outside > .row {
  width: 100%;
  min-height: 100%;
  padding: 0px;
  margin: 0px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.ecash-outside .ecash-outside-form {
  display: block;
  padding: 0px;
  margin: 0px;
  flex: 1;
  background-color: #ffffff;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.ecash-outside .ecash-outside-picture {
  @media screen and (max-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
  min-height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  flex: 1;
  background: url(/assets/images/background-outside.jpg) repeat 0 0;
  background-color: transparent;
  background-size: cover;
  background-color: #c4c4c4;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.ecash-outside .ecash-outside-picture .wrap-content {
  width: 100%;
  display: block;
  position: relative;
}

.ecash-outside .ecash-outside-picture .wrap-content .content {
  margin: auto;
  text-align: center;
  vertical-align: middle;
  top: calc(50% - 35px);
  position: relative;
  color: white;
  margin-left: 20%;
  margin-right: 20%;
}

.ecash-outside .ecash-outside-picture .wrap-content .large-title {
  font-size: 30px;
}

.ecash-outside .ecash-outside-picture .wrap-content .long-description {
  margin-top: 30px;
}
